@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-background: #D586E0 0%, #91A1FA 98.93%;
    --gradient-content: #C7C9CC 0%, #929292 100%;

    --font-family-sora: 'Sora', serif;
    --font-family-mono: 'Roboto Mono', serif;
    --font-family-flex: 'Roboto Flex', serif;

    --f-display-lg: 800 4.5rem/130% var(--font-family-sora);
    --f-display-md: 800 2.5rem/130% var(--font-family-sora);
    --f-display-sm: 700 2rem/130% var(--font-family-sora);

    --f-overline: 700 1rem/150% var(--font-family-mono);

    --f-paragraph-lg: 500 1rem/150% var(--font-family-flex);
    --f-paragraph-md: 500 0.875rem/150% var(--font-family-flex);
    --f-paragraph-sm: 500 0.75rem/150% var(--font-family-flex);
    --f-label-lg: 700 1.25rem/150% var(--font-family-flex);
    --f-label-md: 700 1rem/150% var(--font-family-flex);
}

body {
    font: var(--f-paragraph-lg);
    color: var(--content-primary);
    background-color: var(--background-primary);
    background-image: url(../assets/background.png);
    opacity: 1;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    border: none;    
}